absl-py==0.13.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.4.1
appnope==0.1.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
cachetools==4.2.2
cchardet==2.1.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
clang==5.0
click==8.0.1
cycler==0.10.0
dataclasses==0.6
decorator==5.0.9
elasticsearch==7.13.1
fake-useragent==0.1.11
filelock==3.0.12
flatbuffers==1.12
gast==0.4.0
geographiclib==1.50
geopy==2.1.0
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googletransx==2.4.2
grpcio==1.34.1
h5py==3.1.0
huggingface-hub==0.0.8
idna==2.10
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keras-tuner==1.0.3
kiwisolver==1.3.1
kt-legacy==1.0.3
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.4.2
matplotlib-inline==0.1.2
multidict==5.1.0
multitasking==0.0.9
nltk==3.6.2
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.9
pandas==1.3.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.0.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-socks==1.2.4
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.45
schedule==1.1.0
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.2
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==2.2.0
tokenizers==0.10.3
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.1
traitlets==5.0.5
transformers==4.7.0
tweepy==3.10.0
twint @ file:///Users/lucasmantle/Desktop/MSc%20Work/Research%20Project/Technology_Test/V2/twint
typing-extensions==3.7.4.3
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
yfinance==0.1.62
